In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv('adult.data', header=None)

In [73]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [74]:
print(df.shape)

(32561, 15)

In [75]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
              'marital-status', 'occupation', 'relationship', 'race', 'sex',
              'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [76]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [77]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [78]:
print(df.loc[[38]])

    age workclass  fnlwgt      education  education-num       marital-status  \
38   31   Private   84154   Some-college             10   Married-civ-spouse

   occupation relationship    race    sex  capital-gain  capital-loss  \
38      Sales      Husband   White   Male             0             0

    hours-per-week native-country income
38              38              ?   >50K

In [79]:
df.replace({' ?': None}, inplace =True)

In [80]:
print(df.loc[[38]])

    age workclass  fnlwgt      education  education-num       marital-status  \
38   31   Private   84154   Some-college             10   Married-civ-spouse

   occupation relationship    race    sex  capital-gain  capital-loss  \
38      Sales      Husband   White   Male             0             0

    hours-per-week native-country income
38              38           None   >50K

1) Число столбцов в наборе данных

In [81]:
columns = df.shape[1]

2) Есть ли пропуски в данных? Если есть, то в каких столбцах

In [82]:
missing = df.isnull().sum()

3) Кол-во уникальных значений в столбце race

In [83]:
unique_races = df['race'].nunique()

4) Медиана hours-per-week

In [84]:
median_hours = df['hours-per-week'].median()

5) Кого больше - женщин или мужчин с ЗП >50K?

In [85]:
high_income = df[df['income'] == ' >50K']
count_men = high_income[high_income['sex'] == ' Male'].shape[0]
count_women = high_income[high_income['sex'] == ' Female'].shape[0]

6) Заполнение пропущенных данных наиболее встречаемыми значениями

In [86]:
for column in df.columns:
    if df[column].isnull().sum() > 0: 
        mode_value = df[column].mode()[0] 
        df[column].fillna(mode_value, inplace=True) 
print(df.isnull().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_15376\1664474623.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)

In [87]:
print(df.loc[[38]])

    age workclass  fnlwgt      education  education-num       marital-status  \
38   31   Private   84154   Some-college             10   Married-civ-spouse

   occupation relationship    race    sex  capital-gain  capital-loss  \
38      Sales      Husband   White   Male             0             0

    hours-per-week  native-country income
38              38   United-States   >50K

In [88]:
print("1) столбцов:", columns)
print("2) пропуски в данных:", missing)
print("3) уникальных значений в столбце 'race':", unique_races)
print("4) медиана 'hours-per-week':", median_hours)
if count_men > count_women:
    print(f"5) больше мужчин с доходом >50К: {count_men} мужчин")
else:
    print(f"5) больше женщин с доходом >50К: {count_women} женщин")
print("6) для заполнения пропущенных данных можно использовать моду, медиану, интерполяцию, среднее арифметическое или заполнить пропуски данными из заранее заданной выборки")

1) столбцов: 15
2) пропуски в данных: age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64
3) уникальных значений в столбце 'race': 5
4) медиана 'hours-per-week': 40.0
5) больше мужчин с доходом >50К: 6662 мужчин
6) для заполнения пропущенных данных можно использовать моду, медиану, интерполяцию, среднее арифметическое или заполнить пропуски данными из заранее заданной выборки